*.class
yarn.lock
*.iml
*.jar
.idea
checkouts
classes
figwheel_server.log
lein-template.iml
node_modules
pom.xml
pom.xml.asc
resources/public/js/main
resources/public/js/cards
resources/public/js/test
target
out
package-lock.json
resources/private
.lein-repl-history
.shadow-cljs
.nrepl-port
.lein-failures
