/target
out
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
.lein-repl-history
/.nrepl-port
yarn.lock
node_modules
*.iml
.idea
resources/public/js/main
resources/public/js/cards
resources/public/js/test/js
resources/private
.shadow-cljs
